.navbar-nav, h1, h2
{
  font-family: 'Chivo', sans-serif;
  color: #303030;
}

.biographie, .experiences, .realisations, .formations, .CV_download
{
  font-family: 'Overpass', sans-serif;
}

.photo_ronde
{
  background-color: #008C72;
}

.boutons img
{
  height: 60px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.boutons img:hover
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


.fleche_retour img
{
  height: 60px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.fleche_retour img:hover
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.PDF_ico img
{
  height: 90px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.PDF_ico img:hover
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.contact_ico
{
  width: 40px;
}

.bouton_envoyer
{
  background-color: #008C72;
  margin-left: 2px;
}

.tooltip-inner {
background-color: #008C72;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #008C72;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #008C72;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #008C72;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #008C72;
}
